venv
.idea
logs
data
Classifier/models_folder/models/CLASS
Classifier/models_folder/models/PATHWAY
Classifier/models_folder/models/SUPERCLASS
Classifier/models_folder/models/*.hdf5
Classifier/models_folder/models/models.zip
Classifier/models_folder/models/models.config
*.pyc
*.hdf5
models/get_models.sh
models/models.config
models/PATHWAY/000001/saved_model.pb
models/PATHWAY/000001/variables/variables.data-00000-of-00001
models/PATHWAY/000001/variables/variables.index
models/SUPERCLASS/000001/variables/variables.index
models/SUPERCLASS/000001/variables/variables.data-00000-of-00001
models/SUPERCLASS/000001/saved_model.pb
models/README.md
models/convert_keras_to_tf.py
models/CLASS/000001/variables/variables.index
models/CLASS/000001/variables/variables.data-00000-of-00001
models/CLASS/000001/saved_model.pb
