venv
.idea
Classifier/models_folder/models/models.zip
Classifier/models_folder/models/models.config
*.pyc
models/get_models.sh
models/models.config
models/PATHWAY/000001/saved_model.pb
models/PATHWAY/000001/variables/variables.data-00000-of-00001
models/PATHWAY/000001/variables/variables.index
models/SUPERCLASS/000001/variables/variables.index
models/SUPERCLASS/000001/variables/variables.data-00000-of-00001
models/SUPERCLASS/000001/saved_model.pb
models/README.md
models/convert_keras_to_tf.py

Classifier/models_folder/models.zip
Classifier/models_folder/models/CLASS/000001/saved_model.pb
Classifier/models_folder/models/CLASS/000001/variables/variables.data-00000-of-00001
Classifier/models_folder/models/CLASS/000001/variables/variables.index
Classifier/models_folder/models/NP_classifier_class_V1.hdf5
Classifier/models_folder/models/NP_classifier_pathway_V1.hdf5
Classifier/models_folder/models/NP_classifier_superclass_V1.hdf5
Classifier/models_folder/models/PATHWAY/000001/saved_model.pb
Classifier/models_folder/models/PATHWAY/000001/variables/variables.data-00000-of-00001
Classifier/models_folder/models/PATHWAY/000001/variables/variables.index
Classifier/models_folder/models/SUPERCLASS/000001/saved_model.pb
Classifier/models_folder/models/SUPERCLASS/000001/variables/variables.data-00000-of-00001
Classifier/models_folder/models/SUPERCLASS/000001/variables/variables.index
logs/access.log
models/CLASS/000001/saved_model.pb
models/CLASS/000001/variables/variables.data-00000-of-00001
models/CLASS/000001/variables/variables.index
NP_classifier_class_V1.hdf5
NP_classifier_pathway_V1.hdf5
NP_classifier_superclass_V1.hdf5
